In [1]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('spam.csv',encoding='latin-1')

In [4]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
378,ham,Keep my payasam there if rinu brings,NaN,NaN,NaN
3228,spam,Ur cash-balance is currently 500 pounds - to m...,NaN,NaN,NaN
4133,ham,Is it your yahoo boys that bring in the perf? ...,NaN,NaN,NaN
3536,ham,Mmmmm ... It was sooooo good to wake to your w...,NaN,NaN,NaN
4981,ham,Slept? I thinkThis time ( &lt;#&gt; pm) is no...,NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

In [10]:
#1. Data Cleaning
#2.EDA
#3. Text Pre processing
#4. Model Building
#5. Evaluation
#6 . Improvements
#7. Website
#8. Website Deployments

## 1. Data Cleaning

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [15]:
#drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [16]:
df.sample(5)

       v1                                                 v2
4642  ham                        Sorry i din lock my keypad.
2464  ham  They will pick up and drop in car.so no problem..
1774  ham  Its ok chikku, and its my 1 of favourite song....
4545  ham  Never try alone to take the weight of a tear t...
642   ham               Probably gonna swing by in a wee bit

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [20]:
#renaming the column names:
df.rename(columns={'v1':'target','v2':'text'}, inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [22]:
df.sample(5)

     target                                               text
2613    ham  Thanks for sending this mental ability question..
3609    ham  Call me. I m unable to cal. Lets meet bhaskar,...
2120    ham  Argh my 3g is spotty, anyway the only thing I ...
1238    ham  Dear relieved of westonzoyland, all going to p...
2240    ham                     K I'll call you when I'm close

In [23]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [25]:
df['target']= encoder.fit_transform(df['target'])

In [26]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [27]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [29]:
df.duplicated().sum()

403

In [31]:
df= df.drop_duplicates(keep='first')

In [32]:
df.duplicated().sum()

0